.backGroundForm {
    background-color: #193549;
}

form {
    color: #7FFFBB;
}

.btn {
    background-color: #FFC51B;
}

td {
    color: #7FFFBB;
}

/* Scramble effect */

body {
    background: #122738;
    color: #7FFFBB;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.yellow-bracket {
    color: #FFC51B;
}

.text {
    font-weight: 100;
    font-size: 28px;
    color: #73F2F3;
}

.dud {
    color: #757575;
}

.card:hover {
    box-shadow: 3px 3px 8px #73F2F3;
}

.card {
    background-color: #193549;
}